<%- include ('partials/header.ejs')  %> 
<body>
    <%- include ('partials/navbar.ejs')  %> 
    <div class="container">
        
        <div class="card" id="formulario-pergunta">
            
            <div class="card-header">
                <h1>Realizar pergunta</h1>
            </div>
            
            <div class="card-body">
                
                <form method="POST" action="/salvarpergunta">
                    <label for="titulo">Título</label>
                    <input type="text" placeholder="Título" class="form-control" name="titulo" id="titulo">
                    <br><label for="descricao">Descrição</label>
                    <textarea placeholder="Descreva sua perginta aqui" class="form-control" name="descricao" id="descricao"></textarea>
                    <br>
                    <button type="submit" class="btn btn-primary">Perguntar</button>
                </form>

            </div>
        </div>

    </div> 
  
</body>
<%- include ('partials/footer.ejs')  %> 
</html>